@import '../../common/fonts/Ubuntu/fonts.css';

@import '../../common/fonts/K2D/fonts.css';
@import '../../common/fonts/XHei/XHei.css';

$body-font-family: 'XHei', 'Ubuntu', 'Roboto', 'Open Sans', 'Microsoft YaHei',
  sans-serif;
$font-family-k2d: 'K2D';
// 网页进度条颜色
#nprogress .bar {
  background: $orange-900 !important; //自定义颜色
}

.app-container {
  // font-family: 'Ubuntu', 'Roboto', 'Open Sans', 'XHei', 'Microsoft YaHei',
  //   sans-serif !important;
  // font-family: 'Ubuntu', 'Microsoft YaHei', 'XHei' 'Roboto', 'Open Sans',
  //   'Microsoft YaHei', sans-serif;
}
.elevator {
  position: fixed;
  // padding: 0 16px;
  bottom: 30%;
  // margin-top: -140px;
  right: 16px;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(7, 17, 27, 0.1);
  border-radius: 4px;

  .b-btn {
    min-width: 48px !important;
  }
}
.fill-width {
  width: 100%;
}
.color-title {
  color: #4d4d4d;
}
.color-sub {
  color: #545c63;
}
.color-content {
  color: #6c6c6c;
}

.active-box {
  text-align: center;
  position: fixed;
  top: 24%;
  left: 8%;
  z-index: 999;
  // background-color: #fff;
  // box-shadow: 0 4px 12px 0 rgba(7, 17, 27, 0.1);
  border-radius: 4px;
  // margin-left: -40px;
}

.js-fixed {
  @media screen and (min-width: 1111px) {
    position: fixed;
    top: 20px;
    z-index: 8;
    // background: #f8fafc;
    // width: 280px;
  }
}
.b-tooltip {
  border-radius: 4px;
  box-shadow: 0 4px 12px 0 rgba(7, 17, 27, 0.1);
  opacity: 1 !important;
  z-index: 1501 !important;
}

.close-btn {
  width: 36px !important;
  height: 36px !important;
  background-color: #d5f5e3 !important;
  border-radius: 100%;
  .v-icon {
    color: #2ecc71 !important;
  }
}
.max-index {
  z-index: 9999 !important;
}
//==============距离==========
.dot {
  margin: 0 6px;
}
//============输入框

.my-input {
  width: 100%;
  border-radius: 4px;
  /* margin-bottom: -22px; */
  // max-height: 67px;
}
//对话框
.b-dialog {
  border-radius: 6px !important;
  max-width: calc(100vw - 100px);
  max-height: calc(100vh - 100px);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1) !important;
}
.overlay-color {
  background: hsla(0, 0%, 100%, 0.9);
}
//
.icon-color {
  color: hsl(212, 16%, 48%);
}
