.blog {
  * {
    text-shadow: silver 1px 1px 2px !important;
  }
  &.flat {
    .shadow-nav__top,
    .shadow-1,
    .shadow-timeline__dot {
      box-shadow: none !important;
    }
    .b-card-image {
      @extend .shadow-card;
    }
    .login-container {
      box-shadow: none !important;
    }
  }
  .appbar {
    .v-toolbar__content {
      padding: 0 0;
    }
  }
  .main-container {
    padding: 0 0;

    * p,
    * span {
      font-family: $body-font-family !important;
      &.v-badge__badge {
        // font-family: $font-family-k2d !important;
      }
    }

    .b-chip-count {
      box-shadow: inset 0px 0px 0px 1px #bab3b33d;
    }

    .type-bg {
      background-color: #f4f8fe !important;
      border-color: #f4f8fe !important;
    }
    .category-bg {
      background-color: #e3f2fd47 !important;
      border-color: #e3f2fd47 !important;
    }

    //============appbar==========
    .b-appbar {
      margin-top: -160px;
      min-height: 60px;
      padding: 0px 16px;
      // transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s;
      // opacity: 1;
      // transform: translateY(0px);
    }

    //wrapper

    @media screen and (min-width: 1111px) {
      .wrapper-col {
        &.col-lg-8 {
          flex: 0 0 71%;
          max-width: 71%;
        }
        &.col-lg-4 {
          flex: 0 0 28.2%;
          max-width: 28.2%;
          padding: 0px;
          padding-left: 16px;
          padding-right: 12px;
        }
      }
    }

    //=====index

    .b-a {
      $hover-color: $light-green-700;
      color: #4d4d4d;
      //去除文字下划线
      text-decoration: none;
      // margin: 0 20px;
      // padding: 0 0 4px;
      position: relative;
      -moz-transition: ease-out 0.3s 0.1s;
      -o-transition: ease-out 0.3s 0.1s;
      -webkit-transition: ease-out 0.3s;
      -webkit-transition-delay: 0.1s;
      transition: ease-out 0.3s 0.1s;
      &::after {
        height: 2px;
        width: 100%;
        background: $hover-color;
        border-radius: 100px;
        content: '';
        position: absolute;
        left: 0px;
        bottom: 0;
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
      &:hover {
        color: $hover-color !important;
      }
      &:hover::after {
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }

    // .b-a {
    //   color: #4d4d4d;
    //   text-decoration: none;
    //   &:hover {
    //     text-decoration: underline;
    //     color: $teal-700;
    //   }
    // }
    //==============card==========
    .b-card-breadcrumbs {
      border-radius: 6px;
      @extend .shadow-1;
      .v-breadcrumbs {
        padding: 12px 20px;
      }
    }
    .b-card-list {
      $trans-props: all 0.3s ease;
      border-radius: 8px;
      margin-left: 48px;
      margin-top: 10px;
      transition: $trans-props;

      @extend .shadow-1;

      @media screen and (min-width: 714px) {
        height: 200px;
      }
      @media screen and (max-width: 714px) {
        margin-left: 0px;
        margin-top: 60px;
        height: auto;
      }
      // &:hover {
      //   transform: translate(0) scale(0.95);
      //   &:after {
      //     transform: translate(0) scale(1);
      //   }
      // }
      .b-card-image {
        $card-height: 140px !default;
        $card-width: 170px !default;

        position: absolute;
        height: $card-height;
        width: $card-width;
        margin-left: -50px;
        box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
        border-radius: 6px;

        @media screen and (max-width: 714px) {
          $card-width: 100%;
          // top:0;
          margin: 0 50px;
          margin-top: -50px;
          width: calc(100% - 100px);
          top: 0;

          // left: 50%;

          // margin-left: -150px;
        }

        .b-card-image--img {
          height: $card-height;

          @media screen and (max-width: 714px) {
            width: calc($card-width - 48px);
          }
        }
      }
      .b-card-image--content {
        margin-right: 20px;
        margin-left: 140px;
        @media screen and (max-width: 1190px) {
          // margin-top: 40px;
        }
        @media screen and (max-width: 714px) {
          margin: 20px;
          margin-top: 100px;
          // margin-left: 50px;
          // margin-right: 50px;
        }
      }
    }
    .b-card-title {
      margin: 0 auto;
      margin-bottom: -12px !important;
      width: calc(100% - 48px);
      height: 42px !important;
      border-radius: 6px !important;
      z-index: 2 !important;
      &.short {
        margin: 0 0 0 20px;
        margin-bottom: 12px !important;
        width: 240px;
      }
    }
    .b-card-content {
      border-radius: 8px !important;
      .side-card__img {
        border-top-left-radius: 6px !important;
        border-bottom-left-radius: 6px !important;
      }
      .v-card__text {
        padding-top: 28px !important;
      }
    }
    .b-card-title--recommand {
      margin: 0 auto;
      margin-bottom: 12px !important;
      width: calc(100% - 48px);
      // width: 100% !important;
      height: 42px !important;
      border-radius: 6px !important;
      // z-index: 2 !important;
    }
    .b-card--archive {
      box-shadow: none;
      background: #fafafa !important;
      border-color: transparent !important;
    }

    .b-card-title--archive {
      margin: 0 auto;
      margin-bottom: -12px !important;
      width: 20%;
      height: 42px !important;
      border-radius: 6px !important;
      z-index: 2 !important;
    }
    .b-card-pagination {
      border-radius: 12px;
      margin-top: 10px;
      @extend .shadow-1;
    }

    .b-more-btn {
      background-color: white !important;
      width: 48px;
      height: 48px;
      font-size: 14px;
      box-shadow: 0 4px 12px 0 rgba(7, 17, 27, 0.1);
      color: #4a4a4a;
    }
    .main-card__img {
      //
      box-shadow: none !important;
    }
    .side-card__img {
      box-shadow: none !important;
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
    //================text============
    .b-title {
      @extend .color-title;
      // color: #242424;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.125;
      margin-bottom: 0.4rem;
      .b-a {
        padding-bottom: 2px;
      }
    }
    .b-title--normal {
      @extend .color-title;
      // color: #242424;
      font-size: 1.11rem;
      font-weight: 500;
      line-height: 1.5em !important;
      letter-spacing: 0 !important;
    }
    .b-title--small {
      @extend .color-title;
      // color: #242424;
      font-size: 1rem;
    }
    .b-sub-title {
      @extend .color-title;
      // color: #545c63;
      font-size: 0.93rem;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 0px;
      a {
        @extend .color-title;
        // color: #545c63;
        font-size: 0.93rem;
        font-weight: 400;
        line-height: 1.5;
        &:hover {
          color: #009688;
        }
      }
    }
    .b-footer-content {
      font-size: 13px;
      color: #7a7a7a;
      font-weight: 400;
      margin-top: 6px;
      margin-bottom: 0px;
      .footer--span {
        font-size: 13px;
        color: #7a7a7a;
        font-weight: 500;
      }
      * span {
        padding-bottom: 0px;
      }
      * p {
        margin-bottom: 0px;
      }
      //回复时间
      .timeago {
        font-size: 13px !important;
        color: #7a7a7a;
        margin-right: 6px;
      }
    }
    .b-span--time {
      color: #7a7a7a;
      font-size: 0.8rem;
    }

    .b-timeline--time {
      // position: absolute;
      // top: 12px;
      // left: -165px;
      // margin: 0;
      padding: 2px 8px;
      background: rgba(233, 33, 99, 1);
      color: #fff;
      border-radius: 18px;
      box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
    }

    //===========comment============
    .comment {
      //评论不为空的时候
      &.active {
        background: #f2f6f9;
        border-radius: 12px;
        margin-bottom: 16px;
      }
      .comment-item {
        //评论顶部信息
        .comment-meta {
          height: 22px;
          position: relative;

          //用户名等信息
          .comment-author {
            font-size: 14px;
            //用户名
            .users {
              font-weight: 600;
              color: #666;
              &:hover {
                color: #388e3c;
              }
            }
            //回复 @ 标志
            .comment_at {
              margin: 0 5px;
              color: #aaa;
              font-size: 12px;
              vertical-align: 2px;
            }
          }
        }
        .comment-content {
          //
          .comment-content-text {
            min-height: 22px;
            line-height: 1.7;
            font-size: 15px;
            background-color: rgb(255, 255, 255) !important;
            padding: 10px;
            display: inline-flex;
            margin: 10px 0;
            border-radius: 14px 4px 14px 4px;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
            -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
            -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
          }
          .comment-footer {
            font-size: 13px;
            color: #90949c;
            font-weight: 400;
            //回复时间
            .timeago {
              font-size: 13px !important;
              color: #90949c;
            }
            .comment-btn {
              font-size: 13px;
              color: #90949c;
              &:hover {
                span {
                  color: #e64a19;
                }
              }
            }
          }
        }
      }
    }
  }
}
