//===========覆盖样式
.v-app-bar.v-app-bar--fixed {
  z-index: 801;
}
//===================字体
.v-application {
  font-family: $body-font-family;
  title,
  .display-4,
  .display-3,
  .display-2,
  .display-1,
  .headline,
  .subtitle-1,
  .subtitle-2,
  .body-1.body-2,
  .caption,
  .overline {
    font-family: $body-font-family !important;
  }
}
//===================列表 list
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: #4d4d4d !important;
}
//===================输入框 input
.theme--light.v-messages {
  color: #6c6c6c;
}
//===================单选框
.v-input--selection-controls {
  margin-top: 0px;
  // margin-top: 16px;
  padding-top: 4px;
}
.v-autocomplete__content.v-menu__content {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
//===================按钮
.theme--light.v-btn.v-btn--icon {
  color: hsl(212, 16%, 48%);
}
//===================代码
.v-application code {
  background-color: #f5f5f5;
  // color: #4f4f4f;
  box-shadow: none;
  font-weight: 400;
}
.v-application .hljs code {
  color: #4f4f4f;
  box-shadow: none;
  font-weight: 400;
}
//===================chip 纸片
// 长按
.v-chip--clickable:active {
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1) !important;
}
//chip group 未选中
.theme--light.v-chip:not(.v-chip--active) {
  background: #f5f5f5;
}
//chip group 未选中字体颜色
.theme--light.v-chip {
  border-color: rgba(0, 0, 0, 0.12);
  color: #6c6c6c;
}
//===================时间线
.v-timeline-item__dot {
  @extend .shadow-timeline__dot;
}
//竖线
.theme--light.v-timeline::before {
  background: #0000000d;
}
//===================Menu 菜单
.v-menu__content {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
}
//===================对话框
.v-dialog__content {
  // z-index: 1601 !important;
}
//===================覆盖层
.v-overlay--active {
  // z-index: 1600 !important;
}
//===================table 表格
.v-data-table td,
.v-data-table th {
  padding: 0 6px;
}
//表格hover颜色
.theme--light.v-data-table
  tbody
  tr:hover:not(.v-data-table__expanded__content) {
  //默认
  // background: #eee;
  background: #f5f5f5;
}
//===================步骤条stepper
.theme--light.v-stepper .v-stepper__step--editable:hover .v-stepper__label {
  // text-shadow: 0 0 0 #000;
  text-shadow: none;
  color: #4d4d4d;
}
.theme--light.v-stepper .v-stepper__step--active .v-stepper__label {
  // text-shadow: 0 0 0 #000;
  text-shadow: none;
  color: #4d4d4d;
}
//===================分页
$trans-props: all 0.3s ease;
.theme--light.v-pagination .v-pagination__item,
.theme--light.v-pagination .v-pagination__navigation {
  color: hsl(212, 16%, 48%);
  // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: $trans-props;

  &.v-pagination__item--active {
    color: white;
  }
}

.theme--light.v-pagination .v-pagination__item:hover,
.theme--light.v-pagination .v-pagination__navigation:hover {
  transform: translateY(-4px);
  // color: #fff;
  // background-color: #BBDEFB;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}

.theme--light.v-pagination .v-pagination__item:hover i {
  /* 	transform: scale(1.1); */
  color: #fff;
}

.theme--light.v-pagination .v-pagination__item:hover:after,
.theme--light.v-pagination .v-pagination__navigation:hover::after {
  transform: translate(0) scale(1.2);
}

//===================markdown===================

.v-note-wrapper {
  border: none;
  z-index: 800 !important;
}
.markdown-body {
  color: #4f4f4f;
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #4d4d4d;
  }
  code {
    font-size: 90%;
  }
  .hljs code {
    font-size: 100%;
  }
  .highlight pre,
  .markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 100%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
  }
}
