$container-border-radius: 12px;

//左侧边栏
.system {
  .appbar {
    background: white;
    // @extend .appbar-shadow;

    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);

    .appbar__logo {
      padding: auto;
      height: 60px;
      width: 240px;
      display: flex;
      align-items: center;
      transition: width 0.2s;
    }
  }
  .left-drawer {
    // background-color: #323b44;
    // background:linear-gradient(angle,start-color,soft-line,end-color);
    background: linear-gradient(#fff, #fff);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    // box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);

    .drawer__logo {
      height: 60px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .v-navigation-drawer__border {
      width: 0px;
    }

    .drawer-content {
      // margin-top: 60px !important;

      margin-left: 10px !important;
      margin-top: 10px !important;
      background: #01579b !important;
      width: 230px !important;
      height: calc(100% - 80px) !important;
      border-bottom-left-radius: $container-border-radius !important;
      transition: all 0.3s ease;
    }
    .drawer-list {
      $drawer-color: hsl(212, 16%, 48%);
      .drawer-icon {
        color: $drawer-color !important;
      }
      .v-list-item--active .drawer-icon {
        color: inherit !important;
      }
      .theme--light.v-subheader {
        color: $drawer-color !important;
      }
      .active-list {
        border-left: 3px solid #2980b9;
      }
    }
  }
  .app-content {
    .main-container {
      font-family: XHei;
      padding: 0px;

      .main-body {
        margin: 40px 40px 40px;
        transition: all 0.4s linear;

        .table-footer {
          font-size: 13px;
          color: #67798e !important;
          caret-color: #67798e !important;
        }
        //======覆盖原来样式
        .theme--light.v-data-table {
          @extend .icon-color;
          // color: #4a4a4a;
        }
        .theme--light.v-select .v-select__selection--comma {
          @extend .icon-color;
          // color: #4a4a4a;
        }
        .v-alert__border {
          border-width: 2px;
        }
        // 表格头部底下的阴影线
        .theme--light.v-data-table thead tr:last-child th {
          // border-bottom: thin solid rgba(0, 0, 0, 0.12);
          border-bottom: none;
        }
        // 表格内容的阴影线
        .theme--light.v-data-table tbody tr:not(:last-child) td:last-child,
        .theme--light.v-data-table
          tbody
          tr:not(:last-child)
          td:not(.v-data-table__mobile-row) {
          // border-bottom: thin solid rgba(0, 0, 0, 0.12);
          border-bottom: none;
        }
        //=========自定义

        .status-green {
          width: 30px;
          height: 8px;
          border-radius: 10px;
          background: #23d2ac;
          // margin-bottom: 15px;
        }
        .card__toolbar {
          height: 150px !important;
        }
        .card__window {
          padding: 16px 24px 8px !important;
          // margin-top: -80px !important;
        }
        .card-1 {
          background: white !important;
          background-color: white !important;
          border-radius: 8px;
          // border: 1px solid darken(#eff2f7, 5%);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
          &:hover {
            // box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
          }
        }
        .card-no {
          box-shadow: none;
        }
        .v-card {
        }

        .my-footer {
          background: white !important;
          background-color: white !important;
          border-radius: 8px;
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
          margin: 0 40px;
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
        }
        //===========
        .item-wrap {
          display: flex;
          margin-bottom: 20px;

          .item {
            background: #fff;
            border: 1px solid #e0e0e0;
            padding: 25px;
            font-size: 14px;
            line-height: 22px;

            &:first-child {
              margin-right: 20px;
            }
          }

          //.item
        }

        //.item-wrap

        .content {
          margin-bottom: 20px;

          // background: #fff;
          // border: 1px solid #e0e0e0;
          // padding: 25px;
          // font-size: 14px;
          line-height: 22px;
          // border-radius: 4px;

          // @extend .card-shadow;
        }
      }
    }
  }
}

.system.active {
  .left-drawer {
    .arrow-wrapper {
      width: 100px !important;
    }

    .drawer-content {
      width: 100px !important;
    }
  }
  .main-container {
    padding: 65px 0px 0px 150px !important;
  }
}
