// =============light background=====================
$bg-2: '../images/bg/circuit.png';
$bg-3: '../images/bg/doodles.png';
$bg-4: '../images/bg/email-pattern.png';
$bg-5: '../images/bg/funky-lines.png';
$bg-6: '../images/bg/leaves-pattern.png';
$bg-7: '../images/bg/light-grey-terrazzo.png';
$bg-8: '../images/bg/memphis-colorful.png';
$bg-9: '../images/bg/stripes-light.png';
$bg-10: '../images/bg/concrete_seamless.png';
$bg-11: '../images/bg/confectionary.png';
$bg-12: '../images/bg/geometry2.png';
$bg-13: '../images/bg/concrete-texture.png';

// =============dark background=====================
$bg-1-dark: '../images/bg/dark-grey-terrazzo.png';

.transprant {
  background: transparent !important;
  background-color: transparent !important;
}

@mixin background-image-light($bg) {
  background: url($bg) !important;
}
@mixin background-image-dark($bg) {
  background: url($bg) !important;
}
//==============color=========
.bg-color-1 {
  background-color: $main-background-color !important;
}
.bg-color-2 {
  background-color: #f3f9ff !important;
}

//=================image===========
.bg-1 {
  background: url(../images/bg/concrete-texture.png) !important;
  background-size: 100% 100% !important;
}

.bg-2 {
  @include background-image-light($bg-2);
}
.bg-3 {
  @include background-image-light($bg-3);
}
.bg-4 {
  @include background-image-light($bg-4);
}
.bg-5 {
  @include background-image-light($bg-5);
}
.bg-6 {
  @include background-image-light($bg-6);
}
.bg-7 {
  @include background-image-light($bg-7);
}
.bg-8 {
  @include background-image-light($bg-8);
}

.bg-9 {
  @include background-image-light($bg-9);
}
.bg-10 {
  @include background-image-light($bg-10);
}
.bg-11 {
  @include background-image-light($bg-11);
}
.bg-12 {
  @include background-image-light($bg-12);
}
.bg-13 {
  @include background-image-light($bg-13);
}
// =============dark background=====================
.bg-1-dark {
  @include background-image-dark($bg-1-dark);
}

//================shadow ================================

.shadow-1 {
  box-shadow: 0 8px 16px 0 rgba(28, 31, 33, 0.1) !important;
}
//system topnav
.shadow-3 {
  box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05) !important;
}
//system main contain
.shadow-4 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125) !important;
}
//avatar
.shadow-5 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125) !important;
}
///左右下阴影
.shadow-6 {
  box-shadow: 0 10px 14px 1px rgba(12, 17, 32, 0.06);
}
.shadow-7 {
  box-shadow: 0 0 10px rgba(#000, 0.2);
}
.shadow-8 {
  box-shadow: 2px 2px 20px #e3e3e3;
}
//system topnav
.shadow-9 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.appbar-shadow {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03) !important;
}
.card-shadow {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
