// =============light background=====================
$light-bgs: (
  0: '../images/bg/circuit.png',
  1: '../images/bg/doodles.png',
  2: '../images/bg/email-pattern.png',
  3: '../images/bg/funky-lines.png',
  4: '../images/bg/leaves-pattern.png',
  5: '../images/bg/light-grey-terrazzo.png',
  6: '../images/bg/memphis-colorful.png',
  7: '../images/bg/stripes-light.png',
  8: '../images/bg/concrete_seamless.png',
  9: '../images/bg/confectionary.png',
  10: '../images/bg/geometry2.png',
  11: '../images/bg/concrete-texture.png',
  12: '../images/bg/circles-light.png',
  13: '../images/bg/wavy-dots.png',
  14: '../images/bg/dust_scratches.png'
);
// =============dark background=====================
$dark-bgs: (
  0: '../images/bg/dark-grey-terrazzo.png'
);

.bg-0 {
  background: url(../images/bg/dust_scratches.png) !important;
  background-size: 100% 100% !important;
}

.transprant {
  background: transparent !important;
  background-color: transparent !important;
}

//==============color=========
.bg-color-1 {
  background-color: $main-background-color !important;
}
.bg-color-2 {
  background-color: #f3f9ff !important;
}

//=================image===========

@mixin background-image-light($arg) {
  background: rgba(0, 0, 0, 0) url($arg) repeat scroll 0% 0% !important;
  // background: url($bg) !important;
}
@mixin background-image-dark($arg) {
  background: rgba(0, 0, 0, 0) url($arg) repeat scroll 0% 0% !important;
  // background: url($bg) !important;
}
// =============light background=====================
@for $i from 0 through length($light-bgs)-1 {
  .bg-#{$i + 1} {
    @include background-image-light(map-get($light-bgs, $i));
  }
}
// =============dark background=====================
//bg-1开始
@for $i from 0 through length($dark-bgs)-1 {
  .bg-dark-#{$i + 1} {
    @include background-image-dark(map-get($dark-bgs, $i));
  }
}

//================shadow ================================

.shadow-1 {
  box-shadow: 0 8px 16px 0 rgba(28, 31, 33, 0.1) !important;
}
//system topnav
.shadow-3 {
  box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05) !important;
}
//system main contain
.shadow-4 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125) !important;
}
//avatar
.shadow-5 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125) !important;
}
///左右下阴影
.shadow-6 {
  box-shadow: 0 10px 14px 1px rgba(12, 17, 32, 0.06);
}
.shadow-7 {
  box-shadow: 0 0 10px rgba(#000, 0.2);
}
.shadow-8 {
  box-shadow: 2px 2px 20px #e3e3e3;
}
//system topnav
.shadow-9 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.appbar-shadow {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03) !important;
}
.card-shadow {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
