//导入material
@import './material.scss';
@import './color.scss';
@import './background.scss';
@import './app';
@import './system';
@import './blog';
@import './rewrite';
// @import './blog/top_nav';
//默认使用颜色为true，使用图片为false
// $main-background: color !default;
// $main-background-color: #f8fafc;
// $main-background-image: '../../../public/static/images/bg.png';
// $text-color: #8d8b8b;
// $text-color-active: #00b894;
// $bgcolor: $main-background-color;
.myBackground {
  // $main-background: image;

  @if $main-background== 'color' {
    background-color: $main-background-color !important;
  } @else {
    background: url($main-background-image) !important;
  }

  background-size: 100% 100% !important;
}

.myShadow {
  box-shadow: 0 8px 16px 0 rgba(28, 31, 33, 0.1) !important;
}

.navShadow {
  box-shadow: 0px 4px 20px -5px rgba(0, 0, 0, 0.15) !important;
}

.navShadow .v-toolbar__content,
.v-toolbar__extension {
  padding: 0px 16px;
}

.side-ripple-color {
  color: #f44336 !important;
  caret-color: #f44336 !important;
}

.nav-link {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  color: $text-color !important;
  padding: 10px 0px;
}

.nav-link:hover {
  color: $text-color-active !important;
}

.myCard {
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.05) !important;
  border-radius: 12px;
  box-sizing: border-box;
}

.btn-icon-diy {
  height: 36px !important;
  width: 36px !important;
  margin: 0 0 !important;
}
//覆盖组件
//system界面=====
//========顶部
.system-wrapper .v-toolbar__content {
  padding-left: 0px;
}

///
.diy-data-footer {
  .v-data-footer {
    border-top: none !important;
  }
  .v-data-footer__icons-before,
  .v-data-footer__icons-after {
    display: none;
  }
  .v-data-footer__select {
    margin-right: 0;
    .v-select {
      margin: 13px 0 13px 8px;
    }
  }
  .v-data-footer__pagination {
    margin: 0 24px 0 24px;
  }
}
